*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1920px;
}

.thumbnail {
	position: relative;
	z-index: 1;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

.thumbnail .caption {
	padding: 0;
}

.img-thumbnail,
.thumbnail {
	box-shadow: none;
}

.thumbnail-variant-2 {
	min-height: 300px;
	padding: 30px 0 0;
	overflow: visible;
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
    margin-bottom: 20px;
}

.thumbnail-variant-2-wrap {
	padding-bottom: 25px;
}

.thumbnail-variant-2 .thumbnail-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.thumbnail-variant-2 .thumbnail-image > img {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	width: auto;
	min-width: 101%;
	max-width: none;
	height: auto;
	min-height: 100%;
	max-height: none;
}

.thumbnail-variant-2:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(43, 47, 64, 0.76);
}

.thumbnail-variant-2 .thumbnail-inner:hover {
	position: relative;
	z-index: 2;
	padding: 30px 10px;
}

.thumbnail-variant-2 .thumbnail-inner a {
	font-weight: 700;
}

.thumbnail-variant-2 .thumbnail-caption {
	position: relative;
	z-index: 3;
	width: calc(100% - 45px);
	padding: 8px 8px 5px;
	margin: 31px 17px -25px 17px;
	background: #cca876;
   
}

.thumbnail-variant-2 .thumbnail-caption * {
	color: #fff;
    text-decoration: none;
}

.thumbnail-variant-2 .thumbnail-caption a, .thumbnail-variant-2 .thumbnail-caption a:active, .thumbnail-variant-2 .thumbnail-caption a:focus {
	color: #fff;
   
}

.thumbnail-variant-2 .thumbnail-caption a:hover {
	color: #2B2F40;
    font-size: 1.5rem;
}


.thumbnail-variant-2 .text-header {
	font: 700 18px/24px "PT Serif", "Times New Roman", Times, serif;
}

.thumbnail-variant-2 .text-caption {
	font-style: italic;
	line-height: 1.3;
}

.link-group {
	white-space: nowrap;
}

.link-group * {
	vertical-align: middle;
}

.link-group i {
	display: inline-block;
}

.link-group i + *,
.link-group * + i {
	margin-left: 5px;
}

.link-group.link-group-animated .icon {
	position: relative;
	top: 1px;
	right: 0;
	transition: .22s;
}

.link-group.link-group-animated:hover .i {
	right: -5px;
}

.divider {
	max-width: 70%;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
    flex-shrink: 1;
}

.divider-md {
	height: 2px;
	width: 250px;
}

.bg-teak{
    color: #9b9b9b;
}

.bg-teak a{
    color: #fff;
}


.bg-teak a:hover{
    color: #cca876;
}

.bg-teak {
	background: #b49465;
	fill: #b49465;
}

.link-white{
    color: white;
    text-decoration: none;
}

.link-white:hover{
    color: #CCA876;
}

.ls{
    letter-spacing: 2px;
}

@media (min-width: 768px) {
	.thumbnail-variant-2 .text-caption {
		font-size: 16px;
	}
}

.thumbnail-variant-2 * + .divider {
	margin-top: 8px;
}

.thumbnail-variant-2 .divider + * {
	margin-top: 8px;
}

.gold-color{
    color: #CCA876;
    margin-right: 10px;
}
@media (min-width: 992px) {
	.desktop .thumbnail-variant-2:before {
		top: 40px;
	}
	.desktop .thumbnail-variant-2 .thumbnail-inner > * {
		position: relative;
		transform: translateY(14px);
		transition: .4s all ease-in-out;
        z-index: 5;
	}
	.desktop .thumbnail-variant-2:before,
	.desktop .thumbnail-variant-2 .thumbnail-inner {
		opacity: 0;
		transition: .33s all ease-out;
	}
	.desktop .thumbnail-variant-2:hover:before {
		top: 0;
		left: 0;
		right: 0;
	}
	.desktop .thumbnail-variant-2:hover .thumbnail-inner > * {
		transform: translateY(0);
        z-index: 5;
	}
	.desktop .thumbnail-variant-2:hover:before,
	.desktop .thumbnail-variant-2:hover .thumbnail-inner {
		opacity: 1;
	}
    .thumbnail-variant-2 .thumbnail-caption {
		width: calc(100% - 16px);
		margin: 31px 8px -25px 8px;
	}
}

@media (max-width: 992px){
    .thumbnail-variant-2::before{
        background: none;
    }
}


@media (min-width: 1200px) {
	.thumbnail-variant-2 {
		width: calc(100% - 22px);
		margin: 0 11px 0;
	}
	.thumbnail-variant-2 .thumbnail-caption {
		width: calc(100% - 34px);
		margin: 31px 17px -25px 17px;
	}
}

@media (min-width: 768px) {
	.thumbnail-wrap {
		padding: 0 5px;
	}
}

@media (max-width: 1200px) {
	.thumbnail-wrap {
		padding: 0 9px;
	}

    .thumbnail-variant-2 .thumbnail-caption a:hover{
        
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
	.thumbnail-variant-2 {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}


