.wrapper {
    position: relative;
    width: 100%;
    max-width: calc(100%-35px);
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slides {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .slide1 {
    background-image: url('img/chess2.jpg'); 
  }
  
  .slide2 {
    background-image: url('img/me.png'), linear-gradient(to right,#9FA6A4, #BBBDBC);
    background-size: contain, 650px; /* Указываем размеры для каждого фона */
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right; /* Позиционирование каждого фона */
    
  }
  
  .slide3 {
    background-image: url('img/pazl2.jpg'); 
  }
  
  input[name="point"] {
    display: none;
  }
  
  #slide1:checked ~ .slider {
    transform: translateX(0);
  }
  
  #slide2:checked ~ .slider {
    transform: translateX(-33.33%);
  }
  
  #slide3:checked ~ .slider {
    transform: translateX(-66.66%);
  }
  
  .controls {
    position: absolute;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  .controls label {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
  }
  
  input[name="point"]:checked + .controls label {
    background: #333;
  }

  .navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .navigation button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px 20px;
    color: #6D5444;
  }
  
  .navigation button:hover {
    color: #555;
  }